<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>keto</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/keto-1.0.0/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/keto-1.0.0/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/keto-1.0.0/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/keto-1.0.0/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/keto-1.0.0/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/keto-1.0.0/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="~/keto-1.0.0/images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Anasayfa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">Hakkımızda</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="room.html">Otellerimiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="gallery.html">Galeri</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="blog.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Bize Ulaşın</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
   @RenderBody();

    <div class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="titlepage">
                        <h2>Hakkımızda</h2>
                        <p>
                            Luxora Otel'e hoş geldiniz! Şehrin kalbinde lüks ve konforu bir araya getiren
                            eşsiz bir deneyim sunuyoruz. Zarif tasarlanmış odalarımız, üstün hizmetimiz ve
                            geniş olanaklarımızla konaklamanızı unutulmaz kılıyoruz.
                        </p>
                        <a class="read_more" href="Javascript:void(0)"> Devamını Oku</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about_img">
                        <figure><img src="/keto-1.0.0/images/about.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our_room">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Otel Odalarımız</h2>
                        <p>Rezervasyon bilgilerinize göre; uygun, konforlu, şık ve modern tasarımlı odalarımızı keşfedebilirsiniz </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room1.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Deluxe Oda</h3>
                            <p>Modern dekorasyon, king-size yatak, minibar ve şehir manzarası </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room2.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Suit Oda</h3>
                            <p>Geniş oturma alanı, jakuzili banyo ve özel teras </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room3.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Standart Oda</h3>
                            <p>Konforlu ve ekonomik seçenekler sunan standart odamız, sıcak ve samimi bir atmosferde dinlenmeniz için tasarlandı. Modern mobilyalar ve temel ihtiyaçlarınız düşünülerek döşenmiştir. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room4.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Aile Odası</h3>
                            <p>Aileler için ideal olan bu oda, geniş alanı ve ek yatak seçenekleriyle birlikte çocuklarınızla birlikte rahat etmeniz için planlandı. Çocuk dostu mobilyalar ve güvenlik önlemleri mevcuttur. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room5.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Balkonlu Oda</h3>
                            <p>Doğa ile iç içe olmak isteyenler için balkonlu odamız, temiz hava ve güzel manzaralar sunar. Geniş balkonu sayesinde sabah kahvenizi keyifle yudumlayabilirsiniz. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="/keto-1.0.0/images/room6.jpg" alt="#" /></figure>
                        </div>
                        <div class="bed_room">
                            <h3>Business Oda</h3>
                            <p>Profesyonel misafirlerimiz için tasarlanmış Business odamız, sessiz çalışma alanı ve ergonomik oturma düzeni ile verimli bir konaklama sağlar. Ekstra prizler ve toplantı imkanlarıyla donatılmıştır. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Galeri</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery1.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery2.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery3.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery4.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery5.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery6.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery7.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="/keto-1.0.0/images/gallery8.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Blog</h2>
                        <p>En güncel haberler, tatil önerileri ve otelimizle ilgili faydalı bilgiler burada.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog_box">
                        <div class="blog_img">
                            <figure><img src="/keto-1.0.0/images/blog1.jpg" alt="Konforlu odalar" /></figure>
                        </div>
                        <div class="blog_room">
                            <h3>Konforlu Odalarımızla Tanışın</h3>
                            <span>Konaklama İpuçları</span>
                            <p>Modern tasarımlı odalarımızda kendinizi evinizde gibi hissedin. Konfor ve şıklığı bir arada sunuyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_box">
                        <div class="blog_img">
                            <figure><img src="/keto-1.0.0/images/blog2.jpg" alt="Doğa manzarası" /></figure>
                        </div>
                        <div class="blog_room">
                            <h3>Doğayla İç İçe Tatil</h3>
                            <span>Rahatlama ve Huzur</span>
                            <p>Eşsiz doğa manzaralarımızla ruhunuzu dinlendirin ve günlük hayatın stresinden uzaklaşın.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_box">
                        <div class="blog_img">
                            <figure><img src="/keto-1.0.0/images/blog3.jpg" alt="Lezzetli yemekler" /></figure>
                        </div>
                        <div class="blog_room">
                            <h3>Şık ve Modern Odalarımız</h3>
                            <span>Konfor ve Tasarım</span>
                            <p>Her zevke uygun, modern tasarımlı ve konforlu odalarımızla tatilinizi unutulmaz kılıyoruz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Bize Ulaşın</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="Adınız" type="type" name="Name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Mail Adresiniz" type="type" name="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Telefon Numaranız" type="type" name="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Mesajınız" type="type" Message="Name">Message</textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="~/keto-1.0.0/js/jquery.min.js"></script>
    <script src="~/keto-1.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/keto-1.0.0/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/keto-1.0.0/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/keto-1.0.0/js/custom.js"></script>
</body>
</html>